version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/rechain-ide"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    reviewers:
      - "rechain-ide-maintainers"
    labels:
      - "dependencies"
      - "go"

  - package-ecosystem: "npm"
    directory: "/rechain-ide/vscode-extension/extension"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    reviewers:
      - "rechain-ide-maintainers"
    labels:
      - "dependencies"
      - "javascript"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    reviewers:
      - "rechain-ide-maintainers"
    labels:
      - "dependencies"
      - "github-actions"