version: '3.8'

services:
  # Development environment
  dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
    volumes:
      - .:/app
      - /app/go/pkg/mod
      - /app/node_modules
    working_dir: /app
    environment:
      - GO111MODULE=on
    ports:
      - "8080:8080"
      - "3000:3000"
    command: sleep infinity

  # Documentation server
  docs:
    image: squidfunk/mkdocs-material
    volumes:
      - .:/docs
    ports:
      - "8000:8000"
    command: serve

volumes:
  go-pkg-mod:
  node-modules: