# Container scanning template for GitLab
# This template scans Docker containers for vulnerabilities

container_scanning:
  stage: security
  image: docker:24-dind
  services:
    - docker:24-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ""
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker pull $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA || docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA .
    - docker run --rm 
                 -v /var/run/docker.sock:/var/run/docker.sock 
                 -v $(pwd):/tmp 
                 aquasec/trivy image 
                 --format json 
                 --output /tmp/container-scanning-report.json 
                 $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA || true
    - docker run --rm 
                 -v /var/run/docker.sock:/var/run/docker.sock 
                 aquasec/trivy image 
                 --exit-code 0 
                 $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA
  artifacts:
    reports:
      container_scanning: container-scanning-report.json
    paths:
      - container-scanning-report.json
    expire_in: 1 week
    when: always
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_MERGE_REQUEST_IID
  allow_failure: true

container_scanning_high:
  stage: security
  image: docker:24-dind
  services:
    - docker:24-dind
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker pull $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA
    - docker run --rm 
                 -v /var/run/docker.sock:/var/run/docker.sock 
                 aquasec/trivy image 
                 --severity HIGH,CRITICAL 
                 --exit-code 1 
                 $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  allow_failure: false
